<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Procesamiento de Texto</title>
    <!-- Bootstrap -->
      <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style> body{font-family: 'Questrial', sans-serif;}</style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="well text-center" style="background-color: #6a5efd">
            <h4 style="color: white">API Procesamiento de Texto</h4>
            <h5 style="color: white">Ricardo Pérez.</h5>
        </div>
        <div class="container-fluid" style="background-color: #eccafd">
            <h3>Find your words!</h3>
             <div class="container" style="background-color: #eccafd">
                <h4>El resultado del procesamiento es: </h4>
                <div id="procesamiento"><br></div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
//        AQUÍ HAREMOS TODA LA CONVERSIÓN DE JSON A UN STRING NORMAL
        var resultado = "{{resultado}}";
        var resultadoSinParentesisDeInicio = resultado.replace("[" , "");
        var resultadoSinParentesisFinal = resultadoSinParentesisDeInicio.replace("]" , "");
        var resultadoFinal = resultadoSinParentesisFinal.replace(/&#34;/g , "");
        console.log(resultadoFinal);
        $(".container").find("#procesamiento").text(resultadoFinal);
    </script>
  </body>
</html>